{% extends 'layout.html' %}

{% block content %}
  <body style="background-color: #e8dbb7;">
  <center>
  <h1 style="margin: 40px 0px 0px 0px; font-size: 60px">Books of the Month!</h1><br><br>
  <h2>Realm Breaker by Victoria Aveyard</h2>
  </center>
  <img src="https://images-na.ssl-images-amazon.com/images/I/912rl3YTdfL.__BG0,0,0,0_FMpng_AC_UL200_SR200,200_.jpg" width="300" height="300" style="float: right">
  <h3 style="margin: 20px 0px 20px 40px">Synopsis</h3>
  <p style="margin: 20px 300px 20px 40px">A strange darkness grows in Allward. Even Corayne an-Amarat can feel it, tucked away in her small town at the edge of the sea. She soon discovers the truth: She is the last of an ancient lineage—and the last hope to save the world from destruction. But she won’t be alone. Even as darkness falls, she is joined by a band of unlikely companions: A squire, forced to choose between home and honor. An immortal, avenging a broken promise. An assassin, exiled and bloodthirsty. An ancient sorceress, whose riddles hide an eerie foresight. A forger with a secret past. A bounty hunter with a score to settle. Together they stand against a vicious opponent, invincible and determined to burn all kingdoms to ash, and an army unlike anything the realm has ever witnessed.
  </p><br><br>
  <center><h2>Six of Crows by Leigh Bardugo</h2></center>
  <img src="https://images.csmonitor.com/csm/2015/09/938047_1_09-29amazon6_standard.png?alias=standard_900x600nc" width="450" height="300" style="margin: 15px -70px; float: right">
  <h3 style="margin: 20px 0px 20px 40px">Synopsis</h3>
  <p style="margin: 20px 300px 20px 40px"> Ketterdam: a bustling hub of international trade where anything can be had for the right price—and no one knows that better than criminal prodigy Kaz Brekker. Kaz is offered a chance at a deadly heist that could make him rich beyond his wildest dreams. But he can’t pull it off alone... A convict with a thirst for revenge. A sharpshooter who can’t walk away from a wager. A runaway with a privileged past. A spy known as the Wraith. A Heartrender using her magic to survive the slums.A thief with a gift for unlikely escapes. Kaz’s crew is the only thing that might stand between the world and destruction—if they don’t kill each other first.
  </p>
  <br><br><br>
  <center>
  <a class="btn btn-primary" href="#" role="button" style="background-color: #5bcf7a; border: none;">Add a Reiview</a>
  <br><br><br>
  <div class="alert alert-success" role="alert">
  Thank you for your review!
  </div>
  <br>
  </center>
  </body>
{% endblock %}
