{% extends 'layout.html' %}

{% block content %}

  <title>Home Page</title>
  <body style="background-color: #e8dbb7;">
    <center>
    <h1 style="font-size: 80px;">Purpose</h1>
    </center>
    <p style="margin: 20px 40px 20px 40px">
      Reading is without a doubt the key to success. Without books, how would we establish and pass on our knowledge from one generation to the next? This website aims to provide readers with a tool for offering their opinions on certian books they have read. Each month, two to five books will be chosen. For this month, the books "Six of Crows" by Leigh Bardugo and "Realm Breaker" by Victoria Aveyard have been selected. They are both first books in YA fantasy series. Six of Crows is within a completed duology (although there are rumours of more books to be added) whereas Realm Breaker is newly released and has several more books to go. I hope you enjoy! Click on the "Book Reviews" tab to leave a comment as to what your opinion on the books are!
    </p>
    <br>
    <img src="https://library.kissclipart.com/20180829/jie/kissclipart-books-on-shelf-transparent-png-clipart-shelf-bookc-876459bf43d027c4.png" width="50%" height="20%"><img src="https://library.kissclipart.com/20180829/jie/kissclipart-books-on-shelf-transparent-png-clipart-shelf-bookc-876459bf43d027c4.png" width="50%" height="20%">

  </body>
{% endblock %}
