{% extends 'layout.html' %}
{% block content %}
  <body style="background-color: #e8dbb7;">
  <title>About</title>
    <center>
    <h1 style="font-size: 80px;">About</h1>
    </center>
    <p style="margin: 20px 40px 20px 40px">
      Dear Reader,
      <br><br>
      Hello! My name is Anjali. I created this website as a project for my Python class in school, and although it took a bit of time, I finally finished. Well, I finished the basics of it. I hope to continue updating the website, but I also hope that, in time, I can expand it. I have always loved to read, so creating this website was actually pretty enjoyable. It didn't feel like a class assignment at all! With this website, I hope to share some of my favorite books with those who also love them, or with those who haven't yet discovered them. I hope you enjoy this website and offer any feedback you wish to share on the books that I have selected for the month!.
      <br><br>
      Sincerely,
      <br>
      Anjali O.
    </p>
  </body>
{% endblock %}
